<header>
    <div class="container mt-3 px-5">
        
        <a href="/template/new" id="addTask" class="btn btn-dark text-white float-right font-weight-light mb-3 btn-lg">Add Task</a>
        <div class="table-responsive">
            <table class="table" id="toDoTable">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Active</th>
                        <th scope="col">Private</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>
        </div>
    </div>
</header>