<section class="container mt-5">
    <div class="mx-auto temp-form card shadow">
        <div class="card-header">
          New Template
        </div>
        <div class="card-body pb-4">
          <%= form_for(template, {action: templateSavePath(), method: "POST", class: "pb-4"}) { %>
            <div class="row align-items-center">
              <div class="col-8">
                  <%= f.InputTag("Title", {placeholder: "Title..."}) %>
              </div>
              <div class="col-2">
                <%= f.CheckboxTag("Active", {class: "mt-5", unchecked: false}) %>     
              </div>
              <div class="col-2">
                <%= f.CheckboxTag("Private", {class: "mt-5", unchecked: false}) %>   
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <%= f.TextArea("Content", {placeholder: "Content...", rows: "5", maxlength: "250"}) %>
              </div>
            </div>
            <input type="submit" value="Save" class="btn btn-dark w-100">
          <% } %>
        </div>
      </div>
</section>