<%= form_for(template, {action: templateSavePath(), method: "POST", class: "pb-4"}) { %>
<div class="d-flex mt-5 mb-3 w-100 align-items-center">
  <h4 class="text-as mt-1">New template</h4>
  <div class="onoffswitchP ml-2 mt-2">
    <input type="checkbox" name="Private" class="onoffswitchP-checkbox" id="onoffswitchP">
    <label class="onoffswitchP-label" for="onoffswitchP">
      <span class="onoffswitchP-inner"></span>
      <span class="onoffswitchP-switch"></span>
    </label>
  </div>
  <div class="onoffswitchA ml-2 mr-auto mt-2">
    <input type="checkbox" name="Active" class="onoffswitchA-checkbox" id="onoffswitchA">
    <label class="onoffswitchA-label" for="onoffswitchA">
      <span class="onoffswitchA-inner"></span>
      <span class="onoffswitchA-switch"></span>
    </label>
  </div>
  <a href="/template/" class="btn btn-white text-gr mr-2">Cancel</a>
  <input type="submit" value="Create template" class="btn btn-primary float-right text-white">
</div>
<div class="temp-form pt-3">
  <div class="temp-border-as text-gr h5 px-3">Email</div>
  <div class="row align-items-center px-3">
    <div class="col-12">
      <%= f.InputTag("Title", {class: "", placeholder: "Title..."}) %>
    </div>
  </div>
  <div class="row px-3">
    <div class="col">
      <%= f.InputTag("Subject", {placeholder: "Subject..."}) %>
    </div>
    <div class="col">
      <%= f.InputTag("SenderName", {placeholder: "Sender Name..."}) %>
    </div>
  </div>
  <div class="row px-3">
    <div class="col">
      <%= f.SelectTag("Owner", {options: optionUsers()}) %>
    </div>
    <div class="col">
      <%= f.InputTag("Categories", {placeholder: "Select Categories", value: categories}) %>
    </div>
  </div>
  <div class="row px-3">
    <div class="col">
      <%= f.TextArea("Content", {placeholder: "Content...", rows: "5"}) %>
    </div>
  </div>
</div>
<% } %>