<header>
    <div class="container mt-3 px-5">
        
        <a href="/campaign/new" id="addTask" class="btn btn-dark text-white float-right font-weight-light mb-3 btn-lg">Add Campaign</a>
        <div class="table-responsive">
            <table class="table table-striped" id="toDoTable">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Template ID</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tableBody" class="bg-white">
                    <%= for (campaign) in campaigns { %>
                        <tr>
                            <td class="align-middle"><%= campaign.Name %></td>
                            <td class="align-middle"><a href="<%= campaignShowPath({campaign_id: campaign.ID}) %>">Show Campaign</a></td>
                            <td class="align-middle"><%= campaign.StartDate %></td>
                            <td class="align-middle"><%= campaign.EndDate %></td>
                            <td>
                                <a href="<%= campaignDeletePath({campaign_id: campaign.ID}) %>" class="btn btn-danger h0" data-confirm="Are you sure?" data-method="DELETE">Delete</a>
                                <a href="<%= editCampaignPath({campaign_id: campaign.ID}) %>" class="btn btn-success h0">Edit</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</header>