<div class="d-flex mt-5 mb-3 w-100 align-items-center justify-content-end">
    <a href="<%= campaignDeletePath({campaign_id: campaign.ID}) %>" data-confirm="Are you sure?" data-method="DELETE" class="btn btn-danger text-white mr-1">Delete</a>
</div>
<div class="temp-form p-3">
    <div class=" bb-gr">
        <div class="text-gr font-weight-bold">
            <a href="/campaign" class="text-gr"><i class="fas fa-arrow-left"></i></a>
            Opt in campaign
        </div>
        <div class="text-gr small my-3">
            <span class="font-weight-bold">Created on:</span> 
            <span  id="campaignCO"><%= campaign.CreatedAt %></span>
        </div>
    </div>
    <div>
        <div class="text-gr small mt-3">
            <span class="font-weight-bold time-item1">Duration:</span> 
            <i class="far fa-calendar"></i>
            <span  id="campaignSD"><%= campaign.StartDate %></span>
             to 
            <i class="far fa-calendar"></i>
            <span  id="campaignED"><%= campaign.EndDate %></span>
        </div>
        <div class="text-gr small my-1">
            <span class="font-weight-bold time-item2">Time Period:</span> 
            TBA
        </div>
        <div class="text-gr small">
            <span class="font-weight-bold time-item3">Days:</span> 
            TBA
        </div>
    </div>
</div>

<div class="d-flex my-3 w-100 temp-mini-container text-gr">
    <div class="temp-mini">
        <div class="temp-border-as pl-3">
            <div class="h5 font-weight-bold temp-mini-items">TBA</div>
            <div class="small">Total Sent Emails</div>
        </div>
    </div>
    <div class="temp-mini">
        <div class="temp-border-as pl-3">
            <div class="h5 font-weight-bold temp-mini-items">TBA</div>
            <div class="small">Total Opened Emails</div>
        </div>
    </div>
    <div class="temp-mini">
        <div class="temp-border-as pl-3">
            <div class="h5 font-weight-bold temp-mini-items">TBA</div>
            <div class="small">Phish Clicks</div>
        </div>
    </div>
    <div class="temp-mini">
        <div class="temp-border-as pl-3">
            <div class="h5 font-weight-bold temp-mini-items">TBA</div>
            <div class="small">Potential Shared Data</div>
        </div>
    </div>
    <div class="temp-mini">
        <div class="temp-border-as pl-3">
            <div class="h5 font-weight-bold temp-mini-items">TBA</div>
            <div class="small">Delivered</div>
        </div>
    </div>
</div>

<section class="bg-white py-3">
    <div class="d-flex align-items-center mb-3">
        <div class="h5 text-gr temp-border-as pl-3">Users (<%= getTotalCampaignUsers(users) %>)</div>
        <input type="text" placeholder="Search Users" class="ml-3 form-control search" id="search">
    </div>
    <div class="table-responsive px-3">
        <table class="table" id="table">
            <thead class="bg-white text-gr">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody id="tableBody" class="bg-white">
                <%= for (user) in users { %>
                <tr>
                    <td class="align-middle text-as"><%= user.FirstName %></td>
                    <td class="align-middle"><%= user.LastName %></td>
                    <td class="align-middle"><%= user.Email %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </div>
</section>