<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Sambol</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/symbol_logo_icon.svg") %>">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <nav class="navbar fixed-top navbar-dark bg-as">
              <a class="navbar-brand" href="/">
                <img src="<%= assetPath("images/symbol_logo_icon.svg") %>" width="30" height="30">
                SamBol
              </a>                    
        </nav>
    </header>

    <div class="sidebar">
      <a class="nav-link" href="/campaign/">
        <i class="far fa-dot-circle"></i>
        Campaigns
      </a>
      <a class="nav-link" href="/user/">
        <i class="fas fa-user-friends"></i>
        User
      </a>
      <a href="#librarySubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-book"></i>
        Library
      </a>
      <ul class="collapse list-unstyled" id="librarySubMenu">
        <li>
            <a class="sub-link" href="/template/">Phishing Templates</a>
        </li>
      </ul>
   </div>
    <div class="container">
      <%= partial("flash.html") %>
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
